@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --gray-1: #333;
    --gray-2: #4F4F4F;
}
body{
    font-family: 'Space Mono', monospace;
}
.navbar{
    padding-left: 1rem;
    padding-top: 1rem;
    color: #333;
font-family: Inconsolata;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.12rem;
text-transform: uppercase;
}
h1{
color: var(--gray-1, #333);
font-size: 4rem;
font-weight: 700;
letter-spacing: -0.14rem;
margin-bottom: 1rem;
}
p{
color: var(--gray-2, #4F4F4F);
font-size: 1.5rem;
font-weight: 400;
letter-spacing: -0.0525rem;
}
.main-Container{
 display: grid;
 margin-top:4rem ;
 grid-template-columns: repeat(2, 1fr);   
 align-items: center;
}
.img-scarecrow{
    width: 100%;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    margin-top: 3.5rem;
    text-transform: uppercase;
    font-family: 'Space Mono', monospace;
    background: var(--gray-1);
    color: white ;
    padding: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.03063rem;
    transition: all 0.3s ;
    cursor: pointer;
}
.btn:hover{
    background-color: #1a1a19;
}
footer{
position: relative;
text-align: center;
margin-top: 5rem;
}
@media (max-width: 768px) {
    .main-Container{
        grid-template-columns: 1fr;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    h1{margin-top: 3rem;
        font-size: 3rem;
    }
    p{
        font-size: 1.125rem;
    }
    .btn{
        margin-bottom: 4rem;
    }
    
}